<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.ATmraa"
        version="0.1.1">

  <name>ATmraa</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/ATmraa.js" target="js/ATmraa.js"/>

  <dependency id="cordova-plugin-compat" version="^1.0.0" />


  <js-module src="www/ATmraa.js" name="ATmraa">
    <clobbers target="ATmraa" />
  </js-module>

  <platform name="android">

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ATmraa">
        <param name="android-package" value="com.apray.plugin.ATmraa"/>
      </feature>
    </config-file>

    <source-file src="src/android/ATmraa.java" target-dir="src/com/apray/plugin/"/>

    <framework src="build-extras.gradle" custom="true" type="gradleReference" />



  </platform>

</plugin>