<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.ATCamara"
        version="0.1.0">

  <name>ATCamara</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/ATCamara.js" target="js/ATCamara.js"/>

  <dependency id="cordova-plugin-compat" version="^1.0.0" />


  <js-module src="www/ATCamara.js" name="ATCamara">
    <clobbers target="ATCamara" />
  </js-module>

  <platform name="android">


    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ATCamara">
        <param name="android-package" value="com.apray.plugin.ATCamara"/>
      </feature>
    </config-file>

    <source-file src="src/android/ATCamara.java" target-dir="src/com/apray/plugin/"/>
  </platform>

</plugin>